#!/bin/bash

SCRIPT_DIR=$( cd "$( dirname "$0" )" && pwd -P )
LOG_ROOT=$SCRIPT_DIR/logs

export AWS_ACCESS_KEY_ID="{{ access_key }}"
export AWS_SECRET_ACCESS_KEY="{{ secret_key }}"

if [ -n "$1" ]; then
    args="--time $1"
fi

for region in us-east-1 ap-northeast-1; do
    LOG_FILE=$LOG_ROOT/$( date '+%Y/%m/%d/%Y%m%d-%H' -d '1 hour ago' )-$region.log
    mkdir -p $( dirname $LOG_FILE )

    cloudwatch-dump --region $region $args > $LOG_FILE

    # replace your EC2 instance name to nickname
    sed -e '
        s/{{ ansible_ec2_instance_id }}/{{ inventory_hostname }}/g
{% for ins in ec2_instances %}
        s/{{ ins.id }}/{{ ins.name }}/g
{% endfor %}
        ' $LOG_FILE | nc localhost 2003

    # compress log
    gzip -f $LOG_FILE

    # delete old logs
    /usr/bin/find $LOG_ROOT -type f -name '*.log.gz' -mtime +60 -delete
done
