## Graphite local_settings.py
# {{ ansible_managed }}

TIME_ZONE = '{{ graphite_timezone }}'
#DOCUMENTATION_URL = "http://graphite.readthedocs.org/"
LOG_RENDERING_PERFORMANCE = {{ graphite_log_rendering_performance }}
LOG_CACHE_PERFORMANCE = {{ graphite_log_cache_performance }}
LOG_METRIC_ACCESS = {{ graphite_log_metric_access }}
#DEBUG = True
#FLUSHRRDCACHED = 'unix:/var/run/rrdcached.sock'
#MEMCACHE_HOSTS = ['10.10.10.10:11211', '10.10.10.11:11211', '10.10.10.12:11211']
#DEFAULT_CACHE_DURATION = 60 # Cache images and data for 1 minute

GRAPHITE_ROOT = '{{ graphite_root }}'
CONF_DIR = '{{ graphite_conf_dir }}'
STORAGE_DIR = '{{ graphite_storage_dir }}'
CONTENT_DIR = '{{ graphite_content_dir }}'
#DASHBOARD_CONF = '/opt/graphite/conf/dashboard.conf'
#GRAPHTEMPLATES_CONF = '/opt/graphite/conf/graphTemplates.conf'
WHISPER_DIR = '{{ graphite_whisper_dir }}'
#RRD_DIR = '/opt/graphite/storage/rrd'
#DATA_DIRS = [WHISPER_DIR, RRD_DIR] # Default: set from the above variables
LOG_DIR = '{{ graphite_log_dir }}'
INDEX_FILE = '{{ graphite_index_file }}'  # Search index file

DATABASES = {
    'default': {
        'NAME': 'graphite',
        'ENGINE': 'django.db.backends.mysql',
        'USER': 'root',
        'PASSWORD': '',
        'HOST': '127.0.0.1',
#       'PORT': ''
    }
}
