# virtual server for grafana
server {
    {% if grafana_nginx_enable_ssl %}
    listen {{ grafana_nginx_listen }} ssl;
    {% else %}
    listen {{ grafana_nginx_listen }};
    {% endif %}

    server_name {{ grafana_nginx_server_name }};

    {% if grafana_nginx_enable_ssl %}
    ssl_protocols TLSv1 TLSv1.1 TLSv1.2;
    ssl_certificate {{ grafana_nginx_ssl_cert_path }};
    ssl_certificate_key {{ grafana_nginx_ssl_key_path }};
    ssl_ciphers ALL:!aNULL:!ADH:!eNULL:!LOW:!EXP:RC4+RSA:+HIGH:+MEDIUM;
    ssl_session_cache shared:SSL:10m;
    {% endif %}

    proxy_read_timeout 120s; # slow queries happen
    charset utf-8;

    access_log /var/log/nginx/grafana-access.log;
    error_log /var/log/nginx/grafana-error.log;

    auth_basic "Password please!";
    auth_basic_user_file {{ nginx_auth.path }};

    expires -1;

    root {{ grafana_root_path }}/dist;

    # elasticsearch
    location /es/{{ grafana_index }}/ {
        rewrite ^/es/({{ grafana_index }}/.*)$ /$1 break;

        access_log /var/log/nginx/es-access.log;
        error_log /var/log/nginx/es-error.log;

        proxy_pass {{ grafana_elasticsearch_url }};
    }

    # graphite
    location /graphite/ {
        rewrite ^/graphite/(.*)$ /$1 break;

        access_log /var/log/nginx/graphite-access.log;
        error_log /var/log/nginx/graphite-error.log;

        proxy_pass {{ grafana_graphite_url }};
    }


    # suppress logs
    location ~* \.(js|css|png|jpg|jpeg|gif|ico)$ {
        log_not_found off;
        access_log off;
    }

    location = /favicon.ico {
        log_not_found off;
        access_log off;
    }

    location = /robots.txt {
        log_not_found off;
        access_log off;
    }
}
